[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
langchain = "*"
langchain-community = "*"
langchain-openai = "*"
python-dotenv = "*"
pydantic = "*"
pydantic-settings = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
start = "uvicorn main:app --reload"
install = "pipenv install --dev"
